html {
  max-height: 100%;
}

body {
  box-sizing: border-box;
  padding: 10px 30px 0px 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  background: #1f2937;
  display: flex;
justify-content: space-between; 
align-items: center; 
padding: 15px 100px;
border: red 2PX solid;

}

.header-logo {
  color: #f0f0f0;
  font-size: 24px;
font-size: 30px;
text-wrap: nowrap;


}

.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 50px;   
}

a {
  color:#f0f0f0 ;
  text-decoration: none;
}

.hero {
  background-color: #1f2937;
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 auto;
width: 100%;
margin-bottom: 40px;
text-wrap: wrap;
border: red 2PX solid;

}

.hero-heading {
  
  width: 75%;
  color:#f0f0f0;
  font-size: 24px;
  font-weight: bold;
  text-wrap: wrap;
  text-align: left;
  border: red 2PX solid;
}

.hero-subheading {
  color:#f0f0f0;
  font-size: 18px;
  text-wrap: wrap; 
}

.hero-cta {
  color:#f0f0f0;
  font-size: 18px;
  text-wrap: wrap; 
}